@import './base.css';

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  user-select: none;
  padding: 10px;

  transition: all 0.5s ease-in-out, border 0s;

}

input, textarea {
  resize: none;
  background-color: var(--darker-darker);
  border: 1px solid var(--text-main);
  color: var(--text-main);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 10px;

}


input:focus, textarea:focus {
  border-radius: 0;
  outline: none;
}

button:hover {
  text-shadow: 0px 0px 15px currentColor;
}

button:active {
  filter: brightness(1.2);
}

button:disabled {
  text-shadow: none;
}